* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(163, 163, 163, 0.45)),url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;






}

/*.navbar a {
	color:black;
}
.nav-item {
	color:black;
}
*/




.btn a {
	text-decoration: none;
	color:#fff;
}


#port-jumbo {
	border: 8px solid #007bff;
	padding: 8em 4em;
	border-radius: 10px;
	width: 60%;
	background-color: rgba(0, 0, 0,0.25);
	/*background-image: linear-gradient(rgba(0,0,0,0.75),rgba(163, 163, 163, 0.45)),url("../images/bg.jpg");*/
}

#jumbo-div {
	height: 100vh;
	/*line-height: vh;*/
	padding-top: 10%;
	background : transparent;
}
.jumbotron h1 {
	color: #f2f2f2; /*off white*/
}
.jumbotron img {
	width: 20vw;
	border-radius: 100%;
}


.section img {
	width: 50px;
}
.picture-baba {
	/*width: 50px auto;*/
}


#portfolio {
background-color: rgba(255,255,255,0.1);
}
.container a {
	color: #00B9FF;
}





/*mobile queries*/
@media only screen and (max-width: 400px) {
	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;

	}
	#port-jumbo h1 {
		margin: 0;
		font-size: 30px;
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
#jumbo-div {
		height: 100%;
		/*background-color: red;*/
	}
	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;

	}

}


/*desktop style*/
@media only screen and (min-width: 961px)  {
	#jumbo-div {
		height: 100%;
		/*background-color: red;*/
	}
	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;

	}
/*	.jumbotron h1 {
		font-size: 50px;
	}*/

}